body{

	color:#fff;
	background-color: #61122f;
	font-family:'Oxygen',sans-serif;

}

#header-nav {
	background-color: #fecd00;
	border-radius: 0;
	border:0;
}
#logo {
	background: url("../images/beerlogo.jpg") no-repeat;
	width: 150px;
	height: 150px;
	margin-right: 30px;

}

.navbar-brand{
	padding-top:25px;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color:red;
	font-size:2.0em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow:2px 2px 2px #990000;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75; 

}	
.navbar-brand a:hover,.nabvar-brand a:focus {
	text-decoration:none;
} 
.navbar-brand p{
	color:#000000;
	text-transform: uppercase;
	margin-top:15px;
}
.navbar-brand p span{
	vertical-align: middle;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color:#951c49;
	text-align: center;
}
#nav-list a:hover {
	background:#e7e7e7;
}
#nav-list a span{
	font-size:1.8em;
}
.navbar-header button.navabr-toggle, .navabr-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
}
/*--------------------------HEADER ENDS-------------------*/
/*--------------------------FOOTER STARTS------------------*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top:0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#Hours, #Reviews {
	line-height: 2;
}
#Hours > span, #Reviews > span {
	font-size: 1.5em;
}
#Reviews p{
	font-style: italic;
}
#Reviews p:nth-child(2) {
	margin-top: 25px;
}
/*--------------------------FOOTER ENDS---------------------*/
/*----------------------MAIN COMTENT--------------------------*/
/*------------------DRINKS PAGE-----------------------*/
#Drinks-tile, #Menu-tile, #Map-tile {
	height: 250px;
	width:100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}
#Drinks-tile:hover, #Menu-tile:hover, #Map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#Drinks-tile {
	background: url('../images/Drinks.jpg') no-repeat;
	background-position: center;
}

#Menu-tile {
	background: url('../images/Menu.jpg') no-repeat;
	background-position: center;
}

#Drinks-tile span, #Menu-tile span, #Map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity:.8;
}
/*------------------------DRINKS PAGE--------------------*/

/*----------------------MENU 1 Page----------------------*/
.menu-item {
	margin-bottom: 25px;
}
.menu-item hr {
	width: 80%;
}
.menu-item .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	/*margin-top: -15px;
	margin-right: -15px;*/
}

.menu-item-photo {
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding:0
	margin-right:-15px;
	margin-left: auto;
	/*margin-bottom: 20px;*/
	max-width: 250px;
}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-tag {
	padding-right: 30px;
}
h3.menu-item {
	margin: 0 0 10px;
}
.menu-item-details {
	font-size: 1em;
	font-style: italic;
}

/*----------------------MENU 1 ENDS----------------------*/

/*---------------------Menu Categories PAge---------------*/
/*.category {
	position:relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	width: 200px;
	height:200px;
	margin: 0 auto 15px;
}
.category span {
	position: absolute;
	bottom: 0;
	right: 0;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
/*-------------------MENU 2 ENDS----------------------------*/


/*--------------------MAIN CONTENT ENDS------------------*/


/*--------------------------------SIZING-------------------*/
@media(min-width: 1200px) {
	.container .jumbotron {
		background: url('../images/bar.jpg') no-repeat;
		height:675px;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	} 
}
@media(min-width: 992px) and (max-width: 1199px) {
	.container .jumbotron { 
		background: url('../images/barmed.jpg') no-repeat;
		height:558px;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
}
@media(min-width: 768px)and (max-width: 991px) {
	.container .jumbotron {
		background: url('../images/barsmall.jpg') no-repeat;
		height:432px;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
}
@media(max-width: 767px) {
	.navbar-brand{
		padding-top: 10px;
		height:80px;
	}
	.navbar-brand h1 {
		padding padding-top: 50px;
		font-size: 6vw;
	}
	.navbar-brand p {
		font-size: .7em;
		margin-top: 12px;
	}
	.navbar-brand p img{
		height:20px;
	}
	#collapsable-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 7px;
	}
	.container .jumbotron {
		margin-top: 30px;
		padding:0;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}

	#Drinks-tile, #Menu-tile {
		width: 360px;
		margin:0 auto 15px;
	}

	.menu-item-photo {
		margin-right: auto;
	}
	.menu-item .menu-item-price {
		text-align: center;
	}
	.menu-item-tag {
		text-align: center;
	}
}
@media (max-width: 479px) {
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 1.5em;
	}

	#Drinks-tile, #Menu-tile {
		width:280px;
		margin:0 auto 15px;
	}
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 30px;
	}
	.panel-footer section hr {
		width: 50%
	}
	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}